.itemWrap{
    margin:20px;
    padding:10px 20px;
    border:1px solid black;
}
.listItem{
    width:100%;
    display:inline-flex;
    justify-content: space-between;
    font-size:20px;
    margin-bottom:10px;
    cursor:pointer;
}
.listItem:nth-child(even){
    background-color: #F5F5F5;
}
.listItem > p{
    margin:0px;
    padding:5px;
}
