.form{
    width:100%;
    display:inline-flex;
    justify-content: space-between;
}
.inputWrap {
    width:100%;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 20px;
    padding:5px;
    border:1px solid black;
    max-height: 30px;
}
.icon{
    height:15px;
    width:15px;
}
.input{
    font-size:20px;
    border:none;
    outline:none;
    width:100%;
}
.iconInverse{
    composes: icon;
    transform: rotate(180deg);
}
.button{
    cursor:pointer;
}